
body {
  margin: 0;
  padding: 0;
}

.section {
  width: 100%;
}

.container {
  position: relative;
  width: 1170px;
  margin: 0 auto;
  color: #444;
  font-size: 14px;
  font-weight: 300;
  font-family: Roboto, 'Open Sans', Arial, sans-serif;
  overflow: hidden;
}

.section .container {
  padding: 30px 0 50px 0;
}

.section.bg {
  background: #f7f7f7;
}
/*
  Header
*/

.hold {
  height: 80px;
}

.header {
  line-height: 80px;
  width: 100%;
  transition: line-height 0.2s linear, box-shadow 0.2s linear;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(245, 245, 245, 0.97);
}

.header.small {
  line-height: 50px;
  box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.8);
}

.header.small > .container > #logo {
  height: 40px;
}

#logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: red;
  float: left;
  height: 40px;
  width: 170px;
  margin-left: 5px;
}

ul.nav {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.nav li {
  float: left;
  position: relative;
}

ul.nav li a {
  transition: color 0.2s linear;
  font-size: 18px;
}

ul.nav li:hover a {
  color: red;
}

ul.nav li a {
  padding: 21px;
  color: initial;
  text-decoration: initial;
}
/*
  Slider
*/

.section .slider,
.section .footer {
  background: #333;
}

.slidercontent {
  text-align: center;
}

.hero {
  font-family: 'Roboto Slab', sans-serif;
  color: white;
  font-weight: normal;
  letter-spacing: 1px;
}

h1.hero {
  font-size: 54px;
}

h2.hero {
  font-size: 30px;
  margin-bottom: 60px;
}

h1.hero:after {
  content: "";
  width: 300px;
  position: relative;
  border-bottom: 1px solid #aaa;
  text-align: center;
  margin: auto;
  margin-top: 15px;
}

.call {
  color: white;
  display: block;
  margin-bottom: 20px;
}

.call span {
  display: inline;
  border: 1px solid white;
  padding: 8px 13px;
  font-size: 20px;
  transition: background 0.15s linear;
}

.call span:hover {
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
/* 
  Columns 
*/

.col {
  float: left;
  padding: 0;
  margin: 0;
  position: relative;
}

.col.four {
  width: 23%;
  margin: 0 1%;
}

.col.three {
  width: 31.3%;
  margin: 0 1%;
}

.col.two {
  width: 40%;
  margin: 0 2.5%;
  padding: 0 2.5%;
}

.col.extrapad {
  padding-top: 20px;
  padding-bottom: 20px;
}

.col .service,
.col .feature {
  font-size: 21px;
  font-weight: 300;
  font-family: 'Roboto Slab', sans-serif;
}

.col .service:after {
  content: "";
  width: 50px;
  position: relative;
  border-bottom: 1px solid #eee;
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 15px;
}

.col .feature {
  font-size: 19px;
}

.col h1.side,
.col p.side,
.col span.side:first-of-type {
  margin-left: 50px;
  text-align: left;
}

.col .icon {
  border-radius: 50%;
  height: 85px;
  width: 85px;
  line-height: 85px;
  text-align: center;
  margin: 0 auto;
  transition: background 0.25s linear, color 0.25s linear;
}

.col .icon.side {
  position: absolute;
  padding: 0;
  margin: 0;
  top: -15px;
  height: 50px;
  width: 50px;
}

.col:hover > .icon {
  background: #F44336;
  color: white;
}

.col:hover > .icon.side {
  background: initial;
  color: initial;
}

.responsivegroup {
  display: none;
}
/*
  Column specifics
*/

.col p,
.col h1 {
  padding: 0 1%;
  text-align: center;
}

.group.margin {
  margin-bottom: 20px;
}

.col .imgholder {
  height: 300px;
  width: 100%;
  background: #333;
  transition: background 0.3s linear;
}

.col.bg {
  background: #FFF;
}

.col.pointer {
  cursor: pointer;
}

.col.bg:hover .imgholder {
  background: #555;
}

.col span.feature {
  font-size: 20px;
}
/*
  Text
*/

.container > h1:not(.hero) {
  margin-bottom: 30px;
  text-align: center;
}

.container > h1:after {
  content: "";
  width: 30px;
  position: relative;
  border-bottom: 1px solid #aaa;
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 15px;
}

h2 {
  font-family: 'Roboto Slab', sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
}

.left,
.left > h1,
.left > p {
  text-align: left;
}

.reset {
  text-align: left !important;
}

.reset:after {
  display: none !important;
}
/* 
  Slider with Content
*/

.white h1,
.white h2,
.white p,
.white div,
.white a {
  color: #fff;
}
/*
  Responsive
*/

.group:after {
  content: "";
  display: table;
  clear: both;
}

@media all and (max-width: 768px) {
  .container {
    width: 95%;
  }
  .col.four {
    width: 48%;
    margin: 1%;
  }
  .col.three {
    display: block;
    width: 95%;
    padding: 0;
    margin: 0 auto;
    float: none;
  }
  .header {
    height: auto;
    background: #eee;
  }
  #logo {
    position: initial;
    float: none;
    display: block;
    transform: none;
    margin: 10px auto 0 auto;
  }
  ul.nav {
    float: none;
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  ul.nav li {
    float: initial;
    display: inline-block;
  }
  .responsivegroup {
    display: block;
  }
  .responsivegroup:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media all and (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media all and (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media all and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media all and (max-width:450px) {
  .col, .col.four, .col.three, .col.two {
    display: block;
    width: 95%;
    padding: 0;
    margin: 0 auto;
    float: none;
  }
  .col.extrapad {
    padding: 1%;
    margin-bottom: 10px;
  }
  .group {
    display: none;
  }
  $num-bits: 100;
$bit-percentage: 100 / $num-bits * 1%;

.flag {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 152vh;
  height: 80vh;
  perspective: 50vh;
}

.flag-bit {
  width: $bit-percentage;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: url('https://upload.wikimedia.org/wikipedia/en/archive/a/a4/20151118161037!Flag_of_the_United_States.svg');
  background-size: 152vh auto;
  animation-duration: 2000ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  
  @for $i from 1 through $num-bits {
    &:nth-child(#{$i}) {
      left: #{($i - 1) * $bit-percentage};
      background-position: #{($i - 1) * $bit-percentage} 0;
      animation-name: bit-#{$i};
      animation-delay: #{$i * 100}ms;
    }
  }
}

// Animations
@for $i from 1 through $num-bits {
  @keyframes bit-#{$i} {
    0% {
      transform: translateY(0) skewY(0deg);
      opacity: 1;
    }
    100% {
      transform: translateY(2%);
      opacity: 0.7;
    }
  }
}

// Setting up the Pen
body {
  background-color: #222;
}$num-bits: 100;
$bit-percentage: 100 / $num-bits * 1%;

.flag {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 152vh;
  height: 80vh;
  perspective: 50vh;
}

.flag-bit {
  width: $bit-percentage;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: url('https://upload.wikimedia.org/wikipedia/en/archive/a/a4/20151118161037!Flag_of_the_United_States.svg');
  background-size: 152vh auto;
  animation-duration: 2000ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  
  @for $i from 1 through $num-bits {
    &:nth-child(#{$i}) {
      left: #{($i - 1) * $bit-percentage};
      background-position: #{($i - 1) * $bit-percentage} 0;
      animation-name: bit-#{$i};
      animation-delay: #{$i * 100}ms;
    }
  }
}

// Animations
@for $i from 1 through $num-bits {
  @keyframes bit-#{$i} {
    0% {
      transform: translateY(0) skewY(0deg);
      opacity: 1;
    }
    100% {
      transform: translateY(2%);
      opacity: 0.7;
    }
  }
}

// Setting up the Pen
body {
  background-color: #222;
}
}
 </body>
   
</html>
$num-bits: 100;
$bit-percentage: 100 / $num-bits * 1%;

.flag {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 152vh;
  height: 80vh;
  perspective: 50vh;
}

.flag-bit {
  width: $bit-percentage;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: url('https://upload.wikimedia.org/wikipedia/en/archive/a/a4/20151118161037!Flag_of_the_United_States.svg');
  background-size: 152vh auto;
  animation-duration: 2000ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  
  @for $i from 1 through $num-bits {
    &:nth-child(#{$i}) {
      left: #{($i - 1) * $bit-percentage};
      background-position: #{($i - 1) * $bit-percentage} 0;
      animation-name: bit-#{$i};
      animation-delay: #{$i * 100}ms;
    }
  }
}

// Animations
@for $i from 1 through $num-bits {
  @keyframes bit-#{$i} {
    0% {
      transform: translateY(0) skewY(0deg);
      opacity: 1;
    }
    @import "compass";

$flag-height: 32em;
$flag-width: $flag-height * 1.6875;
$stripe-height: $flag-height / 13;
$red: tomato;
$white: #FFFFF9;
$blue: #0971B2;

html  {
  @include box-sizing(border-box);
}
*, *:before, *:after {
  @include box-sizing(border-box);
}

.flag {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: $flag-width;
  height: $flag-height;
  background: $white;
  overflow: hidden;
  @include box-shadow((rgba(black, .3)) 5px 5px 10px);
}

.stars {
  z-index: 1000;
  position: absolute;
  @include display-flex;
  @include flex-wrap(wrap);
  @include justify-content(center);
  @include align-items(stretch);
  background: $blue;
  width: $flag-width * 0.45;
  height: ($stripe-height * 7);
  padding: 1em;
  text-align: center;
  &:nth-child(5n + 7) {
    text-indent: 50px;
  }
}

.fa-star {  
  @incldue align-self(auto);
  @include flex-basis(16.6666%);
  color: #fff;
  font-size: 1.25em;
  margin-bottom: .25em;
  @inlcude flex-order(1);
  &:nth-child(11n + 7) {
    margin-left: 1%;
  }
  // some twinkle for the stars
  @for $i from 1 through 50 {
    &:nth-child(#{$i}) { 
      @include animation(pulse (0.15s * $i) infinite ease-in-out);
    }
  }
}

.stripes {
  position: block;
  width: 100%;  
  height: $stripe-height;  
  background: $white;
  &:nth-of-type(even) {
    background: $red;
  }
}
    
    
 
